<!DOCTYPE html>
<html>
// https://kb.objectrocket.com/postgresql/python-import-csv-into-postgres-908
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Probability Distributions</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
		integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" href="https://bulma.io/favicons/favicon-32x32.png?v=201701041855">
</head>

<body>
	<div class="columns">
		<div class="column;width=100px">
			<section class="section">
				<aside class="menu">
					<p class="menu-label">
					  General
					</p>
					<ul class="menu-list">
					  <li><a href="#">Dashboard</a></li>
					  <li><a href="{{ url_for('preferences') }}">Preferences</a></li>
					  {% for item in employees %}
					  <li><a href="{{ url_for('preferences')}}">{{ item }}</a></li>
					  {% endfor %}
						
					</ul>
				  </aside>
			</section>
		</div>
		<div class="column">
			<section class="section">
				<div class="container">
					<div class="box">
						<div class="container">
							<form action="http://127.0.0.1:5000/import" method="POST" enctype="multipart/form-data">
								<div class="file has-name is-fullwidth">
									<label class="file-label">
									  <input class="file-input" type="file" name="file" id="file_input">
									  <span class="file-cta">
										<span class="file-icon">
										  <i class="fas fa-upload"></i>
										</span>
										<span class="file-label">
										  Choose a file…
										</span>
									  </span>
									  <span class="file-name">
										...
									  </span>
									</label>
									<div class="field">
										<button class="button is-success">
											Upload
										</button>
									</div>
								  </div>
							</form>
							<br>
						</div>
					</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="box">
								<h1 class="title">
									{{ employees_count }}
								</h1>
								<p class="subtitle">
									Employees
								</p>
							</div>
						</div>
						<div class="column">
							<div class="box">
								<h1 class="title">
									{{ hours_count }}
								</h1>
								<p class="subtitle">
									Hours
								</p>
							</div>
						</div>
						<div class="column">
							<div class="box">
								<h1 class="title">
									{{ bookings_count }}
								</h1>
								<p class="subtitle">
									Bookings
								</p>
							</div>
						</div>
						<div class="column">
							<div class="box">
								<h1 class="title">
									{{ hours_per_employee }}
								</h1>
								<p class="subtitle">
									Hours per Employee
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="box">
							<div class="container">
								<canvas id="chart_canvas_operations"></canvas>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="box">
							<div class="container">
								<canvas id="chart_canvas_admin"></canvas>
								<br>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="box">
							<div class="container">
								<canvas id="chart_canvas_project"></canvas>
								<br>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	
	<script>
		var chart_data_operations = {
				labels : [{% for item in operations_labels %}
				"{{item}}",
				{% endfor %}],
				datasets : [{
					label: 'Operations',
					backgroundColor: '{{ operations_color }}',
					borderColor: '{{ operations_color }}',
					borderWidth: 2,
					fill: true,
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: '{{ operations_color }}',
					pointHoverBorderColor: '{{ operations_color }}',
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: [{% for item in operations_values %}
					{{item}},
					{% endfor %}],
					spanGaps: false
				},
				{
					label: 'Project',
					backgroundColor: '{{ project_color }}',
					borderColor: '{{ project_color }}',
					borderWidth: 2,
					fill: true,
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: '{{ project_color }}',
					pointHoverBorderColor: '{{ project_color }}',
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: [{% for item in project_values %}
					{{item}},
					{% endfor %}],
					spanGaps: false
				},
				{
					label: 'Admin',
					backgroundColor: '{{ admin_color }}',
					borderColor: '{{ admin_color }}',
					borderWidth: 2,
					fill: true,
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: '{{ admin_color }}',
					pointHoverBorderColor: '{{ admin_color }}',
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: [{% for item in admin_values %}
					{{item}},
					{% endfor %}],
					spanGaps: false
				}	
			]
		}

		var chart_data_project = {
			labels : [{% for item in project_labels %}
			"{{item}}",
			{% endfor %}],
			datasets : [{
				label: 'Project',
				fill: true,
				lineTension: 0.1,
				backgroundColor: "rgba(75,192,192,0.4)",
				borderColor: "rgba(75,192,192,1)",
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: "rgba(75,192,192,1)",
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius: 5,
				pointHoverBackgroundColor: "rgba(75,192,192,1)",
				pointHoverBorderColor: "rgba(220,220,220,1)",
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
				data : [{% for item in project_values %}
				{{item}},
				{% endfor %}],
				spanGaps: false
			}]
		}

		var chart_data_admin = {
			labels : [{% for item in admin_labels %}
			"{{item}}",
			{% endfor %}],
			datasets : [{
			label: 'Admin',
			fill: true,
			lineTension: 0.1,
			backgroundColor: "rgba(75,192,192,0.4)",
			borderColor: "rgba(75,192,192,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "rgba(75,192,192,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(75,192,192,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for item in admin_values %}
			{{item}},
			{% endfor %}],
			spanGaps: false
			}]
		}
		
		// get chart canvas
		var ctx_canvas_operations = document.getElementById("chart_canvas_operations").getContext("2d");
		var ctx_canvas_project = document.getElementById("chart_canvas_project").getContext("2d");
		var ctx_canvas_admin = document.getElementById("chart_canvas_admin").getContext("2d");
		
		// create the chart using the chart canvas
		var chart_operations = new Chart(ctx_canvas_operations, {
			type: 'line',
			data: chart_data_operations,
		});
		var chart_project = new Chart(ctx_canvas_project, {
			type: 'line',
			data: chart_data_project,
		});
		var chart_project = new Chart(ctx_canvas_admin, {
			type: 'line',
			data: chart_data_admin,
		});
	</script>
</body>

</html>